[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugins/start/nerdtree-git-plugin"]
	path = plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "colors/start/kuroi"]
	path = colors/start/kuroi
	url = https://github.com/aonemd/kuroi.vim
[submodule "plugins/start/elm-vim"]
	path = plugins/start/elm-vim
	url = https://github.com/ElmCast/elm-vim
[submodule "plugins/start/fugitive"]
	path = plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "plugins/start/ale"]
	path = plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "plugins/start/vim-polyglot"]
	path = plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "colors/start/solarized"]
	path = colors/start/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "plugins/start/vim-gitgutter"]
	path = plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
